PORT=3001
# MONGODB_URI=mongodb://localhost:27017/teams-agent-admin
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.3mfkaxt.mongodb.net/teams-agent-admin?retryWrites=true&w=majority

UPLOAD_DIR=./uploads

# Azure AD App Registration (for Microsoft Graph - fetch org teams)
REACT_APP_AAD_CLIENT_ID=f6520a33-69c9-4b01-b185-09db030b39cd
REACT_APP_AAD_TENANT_ID=247eb078-ba0d-4eed-9dc7-ca9e8483054c
